:root {
	--main-font-family: Alegreya, Georgia, serif;
	--default-padding: 1em;
	--default-gap: .5em;
	--background-color: rgb(241,237,236);
	--text-color: #333;
	--text-color-negative: #eee;
	--accent-color1: firebrick;
	--accent-color2: rgb(66, 106, 122);
	--accent-color3: goldenrod;
	--max-screen: 1500px;

}

html, body {
	position: relative;
	background-color: var(--text-color);
	width: 100%;
	min-height: 100vh;
}

body {
	background-color: var(--background-color);
	font-family: var(--main-font-family);
	color: var(--text-color);
	margin: 0 auto;
	padding: var(--default-gap);
	box-sizing: border-box;
}

a {
	color: var(--accent-color2);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--accent-color2);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--text-color);
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
