:root {
	--main-font-family: Alegreya, Georgia, serif;
    --main-smallcaps: 'Alegreya SC', serif;
	--alternate-font-family: 'Alegreya Sans', sans-serif;
    --alternate-smallcaps: 'Alegreya Sans SC', sans-serif;
	--basic-font-weight: 500;
	--bold-font-weight: 700;

	--default-padding: 2rem;
	--default-gap: .5em;
	--background-color: whitesmoke;
	--background-color2: wheat;
	--background-light: gainsboro;
	--text-color: #3a3530;
	--text-color-negative: var(--background-color);
	--accent-color1: saddlebrown;
	--accent-color2: forestgreen;
	--accent-color3: peru;
	--max-screen: 1500px;
	--header-height: 100px;
	--footer-height: 100px;
	--figure-height: 150px;
	--small-text: .85rem;
}

* {
	margin: 0;
}
* + * {
	margin-top: 1em;
} 

html, body {
	position: relative;
	background-color: var(--text-color);
	width: 100%;
	min-height: 100vh;
	font-weight: var(--basic-font-weight);
	scroll-behavior: smooth;
}
.small, figcaption {
	font-size: var(--small-text);
	font-family: var(--alternate-font-family);
}

body {
	background-color: var(--background-color);
	font-family: var(--main-font-family);
	color: var(--text-color);
	margin: 0 auto;
}
header, main, aside, footer, .wrapper, .container {
	margin: 0;
	box-sizing: border-box;
}
a {
	color: var(--accent-color2);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--accent-color2);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--text-color);
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
